
// triadic color theme:
$background-color: #4696B9;
$secondary-color: #B94696;
$primary-color: #96B946;
$complementary-color: #76C53A;

// colors:
$c-white: white;
$c-red: red;
$c-gold: #CA9A35;


// colors:
$header-color: $secondary-color;
$body-color: $background-color;
$footer-color: $secondary-color;
$user-color: $complementary-color;
