@import "src/assets/styles/all";

* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  background: $body-color; // TODO: set the background color for the users

  &__users {
    width: 75%;
    margin: 0 auto;
  }
}

.header {
  height: $header-height;
  color: $c-gold;
  background: $header-color;
  font-size: $font-size-32px;
  display: grid;
  place-items: center;

  &__title {
    margin: 0 auto;
    cursor: pointer;
  }
}

.user {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  background-color: $user-color;
  border-radius: 20px;
  padding: 20px 40px;

  &__picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  &__info {
    width: $description-width;
  }

  &__info-section {
    display: flex;
  }

  margin: $user-card-margin 0;
}

.footer {
  height: $footer-height;
  background: $footer-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__copyright {
    text-align: center;
    padding-bottom: 20px;
  }
}
